.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: var(--accentLight);
    }
}


@for $i from 1 through 50 {
    .text-animate._#{$i} {
        animation-delay: #{calc($i / 10)}s;
    }
}