.home-page {
    
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: var(--primary);
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
            content: '<h1>';
            font-family: 'La Belle Aurore', cursive;
            color: var(--primary);
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: -15px;
            opacity: 0.6;
        }

        &:after {
            content: '<h1/>';
            font-family: 'La Belle Aurore', cursive;
            color: var(--primary);
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: var(--textSecondary);
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: var(--primary);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid var(--primary);
        margin-top: 25px;
        float: left;
        // animation: fadeIn 0.1s 0.1s backwards;
        white-space: nowrap;

        &:hover {
            animation: rubberBand 1s;
            background: var(--primary);
            color: #333;
        }
    }
}

.picture-container {
    z-index: 0;
    width: 500px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    align-items: center;
    animation: fadeIn 1.8s 2.8s linear both;
    .h-shape{
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        position: absolute;
        left: auto;
        top: auto;
        margin-right: 0;
        z-index: -1;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 20% 100%);
    }
    img {
        filter: sepia(0%);
        z-index: 1;
        border-radius: 30px;
        position: absolute;
        top: auto;
        right: 60px;
        left: auto;
        height: 90%;
        width: 100%;
        object-fit: cover;
        margin-left: 10rem;
        margin-top: 35px; 
    }
}

@media screen and (max-width: 600px) {
    .tags,
    .home-page h1::before,
    .home-page h1::after {
        display: none;
    }
    .picture-container {
        position: relative;
        top: 50px;
        right: 0;
        left: 0;
        margin: auto;
        width: auto;
        img {
            position: absolute;
            width: 50vh;
            height: 50vh;
            
        }
        .h-shape {
            position: absolute;
            height: 62vh;
        }
    }
    .home-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 125px;
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .tags,
    .home-page h1::before,
    .home-page h1::after {
        display: none;
    }
    .picture-container {
        position: relative;
        top: 50px;
        right: 0;
        left: 0;
        margin: auto;
        width: auto;
        img {
            position: absolute;
            width: 50%;
            height: 59%;
            
        }
        .h-shape {
            position: absolute;
            height: 70%;
            width: 60%;
            right: 0;
        }
    }
    .home-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 125px;
        }
    }
}


