
html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: var(--body-bg, #1d1d1d); /* Falls back to dark grey if variable isn't set */
  transition: background 0.3s ease;     /* Makes the color change smooth */
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: hidden;
  }
}